.weather-card {
	border-radius: 20px;
        width: 100%
	max-width: 550px;
	height: 125px;
	padding: 0 20px;
	box-shadow: 0 10px 50px rgba(0,0,0,.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #F9F9F9;
}

.weather-card-temperature {
	font-size: 35px;
	font-weight: bold;
}

.weather-card-location {
	opacity: .5;
    padding-top: 10px;
}

.weather-card-location .location-name {
    font-size: 14px;
    text-transform: uppercase;
}

.weather-card-location .location-country {
    font-size: 12px;
    font-weight: 200;
}

.weather-card-icon {
	vertical-align: middle;
}
